# ==========================================
# GAMERULTRA AI - ZAK
# CONFIGURAÇÕES
# ==========================================

# Sua chave da API deve ser configurada
# SOMENTE no servidor de hospedagem.
OPENAI_API_KEY=

# Modelo utilizado pelo ZAK
OPENAI_MODEL=gpt-5

# Ambiente
NODE_ENV=production

# Porta do servidor
PORT=3000
