#login-screen {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808;
    z-index: 9999;
}

#app {
    display: none;
}

body.logged-in #login-screen {
    display: none;
}

body.logged-in #app {
    display: block;
}
